@import 'src/styles.scss';
.success_message{
    background-color: $White;
    width: 23rem;
    border-radius: 1.5rem;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img{
        width: 3rem;
    }
    h1,p{
        color: $Dark-Slate-Grey;
    }
    h1{
        font-size: 2.5rem;
    }
    p{
        font-size: 0.9rem;
        span{
            font-weight: bold;
            color: $Dark-Slate-Grey;
        }
    }
   
    button{
        background-color: $Dark-Slate-Grey;
        color: $White;
        border: none;
        padding: 1rem 4rem;
        border-radius: 0.5rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
    }
    button:hover{
        scale: 1.1;
        background:$tomato;
        box-shadow: 0px 8px 10px  hsla(4, 100%, 67%, 0.674);
    }
}