@import 'src/styles.scss';

.informations_title{
    color: $Dark-Slate-Grey;
    h1{
        font-size: 4.5rem;
    }
    p{
        margin: 1.5rem 0;
        font-size: 1.3rem;
        font-weight: 400;
        width: 90%;
    }
}