.update_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    li{
        display: flex;
        align-items: center;
        font-size: 0.9rem;

        img{
            margin-right: 1rem;
        }
    }
}